.card-poke{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-style: black;
}

.card-poke__header{
    height: 200px;
    background-color: green;
    position: relative;
    margin-bottom: 65px;
}

.card-poke__sprite {
    width: 60%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.card-poke__body{
    margin-bottom: 30px;
}

.card-poke__name{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.card-poke__type-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-poke__type {
    font-size: 17;
    text-transform: capitalize;
    position: relative;
}

.card-poke__type:nth-child(2)::before{
    content: '/';
    position: absolute;
    left: -10px;
}

.card-poke__type-label{
    text-align: center;
    font-size: 13px;
    color: #999;
}

.card-poke__stat-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    justify-content: center;
    padding: 0 5px 35px;
}

.card-poke__stat{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.card-poke__stat-label{
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}

.card-poke__stat-number{
    font-size: 18px;
}

/*Borders Color*/

.border-grass{
    border-color: #C3DEA3;
}

.border-fire{
    border-color: #E75C35;
}

.border-water{
    border-color: #1479FB;
}

/*Background Color*/

.bg-grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire{
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);

}

/*Letter Color*/

.letter-grass{
    color: #416460;
}

.letter-fire{
    color: #E75C35;
}

.letter-water{
    color: #1479FB;
}
